:root{
    --imgHeight: 150px;
    --spacing16px: 16px;
    --spacing8px: 8px;
    --borderRadius: 8px;
    --CardsbarckgroundImage: url("../../images/experience/caisse_sans.png");
    --cubeWidthHeight: 355px;
}


.experience{
    background-color: rgba(0,95,185,255);
    
}


/*.experience h2 {
    font-family: var(--font-titles);
    color: var(--font-light);
    font-size: var(--fontSize-title-others);
    letter-spacing: var(--spacing-letters-titles);
}*/



/*.experience .intro-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
}*/

/*.experience .intro-paragraph {
    margin: auto;
    width: 30%;
    background-color:rgba(242,203,2,255) ;
    border: 5px solid rgba(57,40,0,255);
    
    padding: var(--spacing8px);
}
/**********************************************/


.card-container{
    height: 100%;

    display:flex;
    justify-content: space-around;
   align-items: stretch;
    flex-wrap: wrap;
}


.experience img{
    margin: var(--spacing16px);
    height: var(--imgHeight);
   
    margin: 16px;
    margin-top: 0;
    object-fit: contain;
 }




.card:hover .textCard{
    display:inline;
}

 .card:hover img{
   height: 100px;    
}

 .card:hover h3{
  
    font-size: calc(var(--fontSize-title-others)*0.7);
}


@media screen and (min-width: 200px) and (max-width: 667px) {
   

}

