footer {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;

    background-image: url("../../images/footer/mario-background-sans-nuages.png");
    background-size: contain;

    --cube-spacing: 52px;
    --cube-bottom: 40%;
    --cube-starting: 40%;
    --cube-z-index: 0;
    --logo-sapcing: 52px;
    --logo-starting: calc((var(--cube-starting) + 10.5px) + var(--logo-sapcing));
    --logo-bottom: calc(var(--cube-bottom) + 60px);
}

body{
    overflow-x: hidden;
}

footer h2{
    color: var(--font-light);
    margin-left: 14%;
    text-shadow: 2px 1px 1px black;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-form{
    left: 13%;
    z-index: 100;
    top: 100px;
}

.contact .body-form{
    display: flex;
    flex-direction: column;
}

.contact .body-form label{
    padding-left: 15px;
    padding-bottom: 5px;
    font-family: var(--font-titles);
    font-size: 0.8em;
    letter-spacing: var(-spacing);
    text-transform: uppercase;
    color: var(--font-light);
    text-shadow: 2px 1px 1px black;
}

.contact .body-form input,  .body-form textarea{
    margin-bottom: var(--spacing);
    padding: 6px;
    background-color: var(--background-light);
    border-radius: 10px;
}

.contact .body-form .submit{
    background-color: #a85833;
}

.body-form textarea{
    height: 100px;
    width: 300px;
}

.return{
    transform: scaleX(-1);
}

.inverse{
    transform: scaleY(-1);
}

.block-relative{
    position: relative;
}

.block-absolute{
    position: absolute;
    bottom: 0;
}

/* animation footer */


.decor{
    width: 100%;
    height: 100%;
}

.cube{
    width: 60px;
    height: 60px;
    z-index: 10;
}

.c1{
    left: var(--cube-starting);
    bottom: var(--cube-bottom);
}

.c2{
    left: calc(var(--cube-starting) + var(--cube-spacing));
    bottom: var(--cube-bottom);
}

.c3{
    left: calc(var(--cube-starting) + (var(--cube-spacing)*2));
    bottom: var(--cube-bottom);
}

.c4{
    left: calc(var(--cube-starting) + (var(--cube-spacing)*3));
    bottom: var(--cube-bottom);
}

.c5{
    left: calc(var(--cube-starting) + (var(--cube-spacing)*4));
    bottom: var(--cube-bottom);
}

.c6{
    left: calc(var(--cube-starting) + (var(--cube-spacing)*5));
    bottom: var(--cube-bottom);
}

.logo{
    width: 40px;
    height: 40px;
    z-index: 10;
    animation: Rotate 5s infinite;
}

.logo:hover{
    animation: bond 0.1s;
}

.l1{
    left: var(--logo-starting);
    bottom: var(--logo-bottom);
}

.l2{
    left: calc(var(--logo-starting) + var(--logo-sapcing));
    bottom: var(--logo-bottom);
}

.l3{
    left: calc(var(--logo-starting) + var(--logo-sapcing) *2 );
    bottom: var(--logo-bottom);
}

.l4{
    left: calc(var(--logo-starting) + var(--logo-sapcing) *3 );
    bottom: var(--logo-bottom);
}

.tuyau{
    width: 80px;
}

.t1{
    transform: rotate(90deg);
    bottom: 10%;
    left: 0;
    z-index: 1;
}

.t1-1{
    top: 0;
    left: calc(var(--cube-starting) + 121px);
    z-index: 10;
}

.t1-2{
    left: calc((var(--cube-starting) + 121px) + 10px);
    top: 16%;
    width: 60px;
    animation: carnivore 1.5s alternate-reverse infinite;
}

.mario-stage-end{
    right: 21%;
    bottom: 9%;
}

.mario-pole{
    height: 80%;
    z-index: 90;
}

.mario-end{
    bottom: 20%;
    height: 24.5%;
    z-index: 91;
    animation: mario-finish 3s alternate infinite;
}

.door{
    right: 0;
    bottom: 9%;
    width: 130px;
}

.arrow{
    width: 55px;
    right: 39px;
    bottom: 9%;
    animation: arrowUpAndDown 1s infinite;
    opacity: 0.6;
}

.carapace{
    visibility: hidden;
    width: 60px;
    transform: scaleX(-1);
    bottom: 10%;
    left: 0;
    z-index: 0;
}

.carapace-move{
    animation: carapaceMove 3s ease-in-out;
}

@keyframes carapaceMove{
    0%{
        visibility: visible;
        left: 0;
        bottom: 12%;
    }

    18%{
        bottom: 10%;
    }

    50%{
        left: 70%
    }

    77%{ 
        bottom: 10%;
    }
    78%{
        bottom: 12%;
    }

    100%{
        left: -50%;
    }
}

@keyframes arrowUpAndDown{
    100%{
        bottom: 28%;
    }
}

@keyframes mario-finish{
    100%{
        bottom: 48%;
    }
}

@keyframes bond {
    50%{
        bottom: calc(var(--logo-bottom) + 2%);
    }
    100%{
        bottom: var(--logo-bottom);
    }
}

@keyframes carnivore {
    100%{
        top: 0%;
    }
}

@keyframes Rotate{
    100%{
        transform: rotateY(360deg);
    }
}



@media screen and (max-width: 1279px){

    .objet{
        --cube-spacing: 35px;
        --cube-bottom: 100px;
        --cube-starting: 53%;
        --logo-sapcing: 41px;
        --logo-starting: calc(var(--cube-starting) + 45px);
        --logo-bottom: var(--cube-bottom);
    }

    .t1-1, .t1-2{
        display: none;
    }

    .cube{
        width: 40px;
        height: 40px;
        z-index: 10;

        left: var(--cube-starting);
    
    }
    
    .c1{
        bottom: var(--cube-bottom);
    }
    
    .c2{
        bottom: calc(var(--cube-bottom) + var(--cube-spacing));
    }
    
    .c3{
        bottom: calc(var(--cube-bottom) + (var(--cube-spacing)*2));
    }
    
    .c4{
        bottom: calc(var(--cube-bottom) + (var(--cube-spacing)*3));
    }
    
    .c5{
        bottom: calc(var(--cube-bottom) + (var(--cube-spacing)*4));
    }
    
    .c6{
        bottom: calc(var(--cube-bottom) + (var(--cube-spacing)*5));
    }

    .logo{
        width: 29px;
        height: 29px;
        z-index: 10;
        animation: Rotate 5s infinite;

        left: var(--logo-starting);
    }
    
    .logo:hover{
        animation: bond 0.1s;
    }
    
    .l1{
        bottom: calc(var(--cube-bottom) + var(--logo-sapcing));
    }

    .l2{
        bottom: calc(var(--cube-bottom) + var(--logo-sapcing) + 35px);
    }

    .l3{
        bottom: calc(var(--cube-bottom) + var(--logo-sapcing) + 70px);
    }

    .l4{
        bottom: calc(var(--cube-bottom) + var(--logo-sapcing) + 105px);
    }

    @keyframes bond {
        50%{
            left: calc(var(--logo-starting) + 2%);
        }
        100%{
            left: var(--logo-starting);
        }
    }

}


@media screen and (max-width: 800px){

    .block-absolute, .block-relative{
        position: static;
    }

    .objet{
        display: none;
    }

    .logo{
        width: 7%;
        height: 7%;
        display: flex;
        position: absolute;
        bottom: 12%;
    }

    footer {
        position: relative;
        background-size: cover;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    footer h2 {
        position: static;
        margin-left: 0;
        margin-bottom: 20px;
        padding: 0;
    }

    .l1, .l2, .l3, .l4{
        --logo-starting: 18%;
    } 

    .l2{
        left: calc(var(--logo-starting) *2);
    }

    .l3{
        left: calc(var(--logo-starting) *3);
    }

    .l4{
        left: calc(var(--logo-starting) *4);
    }

    .btn-header{
        display: block;
        position: absolute;
        top: 6%;
        width: 14%;    bottom: 9%;
    }

    .label-end{
        position: absolute;
        opacity: 1;
        visibility: visible;    
        right: 4%;
        top: 4%;
        font-size: 0.6em;
    }

}
