header{
    width: 100%;
    background-image: url('../../images/footer/mario-background_cropped_nocloud.png');
    background-size: auto 100%;
}

.full-screen-menu{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: 100px;
}

.full-screen-menu a{
    text-decoration:none; 
    border: var(--borderSolid);  
    color: var( --font-light);
    font-family: var(--font-titles) ;
    font-size:1.3em;
    padding: 10px;
    border-radius: 10px;
}

.full-screen-menu a:hover{
    text-decoration:none;   
    background-color: var( --font-light);
    color: var( --font-medium);
    font-family: var(--font-titles) ;
}

.mobile-nav{
    display: none;
}

/*--------------------------------  Présentation    ------------------------------*/
.presentation{
    width: 100%;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.title-logo{
    width: 50%;
}

.ImgMarioHalf{
    min-width: 400px;
    max-width: 30%;
    bottom: 0;
    margin: auto;
}




/* Tablet & large screen version*/
@media screen and (max-width: 1230px) and (min-width: 640px){

    .full-screen-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: auto;
    }

    .full-screen-menu a{
        text-decoration:none; 
        text-align: center;
        width: 80%;
        margin: 10px;
        padding: 16px;
        border-radius: 10px;
    }

}
    

/*Mobile version*/
@media screen and (min-width: 360px) and (max-width: 640px){

   .full-screen-menu{
        display:none;
    }

    .mobile-nav{
        display:block;
        text-align: center;
        padding: var(--spacing); /*multiply by 3*/
    }

    #mobile-menu {
        display:none;
    }

    #mobile-menu:target {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    #mobile-menu:target .list{
        text-decoration:none;
        text-align: center;
        border: var(--borderSolid);  
        color: var( --font-light);
        background-color: rgba(0,95,185,255);
        font-family: var(--font-titles) ;
        font-size:1.3em;
        padding: 10px;
        margin: var(--spacing);
        border-radius: 10px;
    }

    .burger-menu-icon{
        max-width: 20%;
        padding: var(--spacing);
        animation: beat .50s infinite alternate;
        transform-origin: center;
        filter:drop-shadow(5px 5px 4px black);

    }

    .title-logo{
        width: 75%;
    }

    /* Heart beat animation */
    @keyframes beat{
	to { transform: scale(1.2); }
}

 
}