/*Section 5:Hobbies (Nicolas)*/
.hobbies {
  font-family: "Roboto Condensed";
}

.hobbies h2 {
  color: var(--font-medium);
  font-family: "mario";
  font-size: var(--fontSize-title-others);
  letter-spacing: var(--spacing-letters-titles);
}



.hobbies img {
  margin: var(--spacing8px);
height: var(--imgHeight);
  width: 300px;
  height: 200px;
  object-fit: contain;
  margin: 16px;
  margin-top: 0;
}

.hobbies .card h3{
  font-family: var(--font-titles);
  color: var(--font-medium);
  letter-spacing: var(--spacing-letters-titles);
  font-size: calc(var(--fontSize-title-others)*0.7);
 /* padding: var( --spacing8px);*/
}