.langages{
    padding: var(--spacing);
    background-color: rgba(0,95,185,255);
    min-height: 400px;
}

.langages > h2{
    background-image: url("../../images/icons/backgroundBlockGood.png");
    color: var(--font-light);
    font-size: var(--fontSize-title-others);
    letter-spacing: var(--spacing-letters-titles);
    border: 5px outset #1C6EA4;
    border-radius: 40px;
    text-align: center;
    margin-right: auto;
    padding: 10px;
    font-family: "mario";
}

.towns{
    background-image: url("../../images/icons/background.png");
}

.langages p{
    font-size: 1.4em;

}

.flagsCards{
    display: flex;
    flex-direction: row;
    margin-left:10%;
    margin-right:10%;
    flex-wrap: wrap;
    justify-content:space-around;
    font-family: var(--font-others);
   
}

.flagsCards .card{
    display: flex;
    flex-direction: column;
    text-align: center;

}

.card .flag{
       display: flex;
    margin-bottom: var(--spacing);  
    flex-direction: column;
    position: relative;
    justify-content: center;
}

.flag .flag-img{
    margin: auto;    object-fit: cover;
    width: 150px;
    height: 150px;
    border: solid 1px;
}

.flag > .mario-head-flag{
    transform: scaleX(-1);
    width: 40%;
    height: 40%;
    position:absolute;
    bottom: calc(var(--spacing) * 2.5);
    left: var(--spacing);
    object-fit: contain;
}

.flagsCards > .card:hover{
    transform: rotate(10deg);
}

.card:hover .mario-head-flag{
    animation: moveMarioHead 1.5s;
    animation-fill-mode: forwards;
}

@keyframes moveMarioHead{
    0%{
        left: 0%;
    }

    100%{
        left: 65%;
    }
}

.marioRacoon{
    position:relative;
    top: -20px;
    left: 0;
    animation-name: drive, mario-jump;
    animation-duration: 5s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-delay: 0;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes drive {
  from { transform: translateX(-200px)}
  to { transform: translateX(2000px)}
}

@keyframes mario-jump {
  0% {top: -20px}
  30% {top: -50px}
  35% {top: -20px}
  100% {top: -20px}
}

