:root{
   
}

.skills{

    /*height: 100%;*/
    background-color: rgba(0,95,185,255);

    

}


.marioDubTitre{
    width: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.skills .card-container img{
    margin: var(--spacing16px);
    height: var(--imgHeight);
   
    margin: 16px;
    margin-top: 0;
    object-fit: contain;
 }


 .MarioDubCards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

 }

    



 @media screen and (max-width: 1590px) {
   
    /*.skills{
        
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    
    }*/
    
    
}
