:root{
    --heightCirculeJauge: 180px;
}

.skills{

    height: 100%;
    background-color: rgba(0,95,185,255);

    

}
.card-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.skills h2{
    color :var(--font-light);
    margin-left: 250px;
}

.marioDubTitre{
    width: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.skills img{
    margin: var(--spacing16px);
    height: var(--imgHeight);
   
    margin: 16px;
    margin-top: 0;
    object-fit: contain;
 }


 .marioDubTitre img{
    margin: var(--spacing16px);
    height: 450px;
   
    margin: 16px;
    margin-top: 0;
    object-fit: contain;
 }
/*.card-container{

    
}*/
 .test{
    height: 100%;
    display:flex;
    justify-content: space-around;
   align-items: stretch;
    flex-wrap: wrap;
    max-width: 75%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5) ;
    border: 5px solid rgba(57,40,0,255);
    
 }

 @media screen and (max-width: 1590px) {
   
    .skills{
        
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    
    }
    
    
}
