@import "header.css";
@import "experience.css";
@import "skills.css";
@import "langages.css";
@import 'hobbies.css';
@import 'contact.css';
@import 'footer.css';
@import 'cards.css';
@font-face{
    font-family: "mario";
    src: url("../../fonts/SuperMarioBrothers-4nmp.ttf");
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

:root{
    /*Variables: font colors*/
    --font-light: rgba(230,229,238,255);
    --font-medium: rgba(0,41,152,255);
    --font-dark: rgba(21,7,3,255);

    /*Variables: background colors*/
    --background-red: rgba(255,0,0,255);
    --background-yellow: rgba(228,163,0,255);
    --background-light: rgba(230,229,238,255);

    /*Variables: font style*/
    --font-titles: "mario";
    --font-others: 'Roboto Condensed';
    --fontSize-title: 8em;
    --fontSize-title-others: 1.8em;
    
    --spacing-letters-titles: 0.3em;
    /*--fontSize-title: 6em;
    --fontSize-title-others: calc(var(--fontSize-title) - 0.2em);*/
    
    /*spacing*/
    --spacing: 8px;
    --borderSolid: solid 3px;
}

*{
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: url('../../images/cursor_mario2.png'),  pointer;
}

body{
    /*padding: 0 calc(var(--spacing)*16);*/
    background-color: rgba(0,95,185,255)
}
.mainContainer{
    max-width: 75%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5) ;
    border: 5px solid rgba(57,40,0,255);
    
    border-radius: 20px;
}

h2{
    font-family: var(--font-titles);
    font-size: calc(var(--fontSize-title-others)*2);
    color: var(--font-light);
    letter-spacing: var(--spacing-letters-titles);
    text-transform: uppercase;
    padding: var(--spacing);
    margin: calc(var(--spacing) * 2);
    max-width: 100%;
}

h3, figcaption, label{
    font-family: var(--font-titles);
    color: var(--font-medium);
    text-transform: uppercase;
    font-size: var(--fontSize-title-others);
    padding: var(--spacing);
    margin: calc(var(--spacing) * 2);
    max-width: 100%;
}

p, input, textarea {
    color: var(--font-light);
    font-family: var(--font-others);
    text-align: left;
    padding: var(--spacing);
    margin: calc(var(--spacing) * 2);
    max-width: 100%;
    font-size: var(--fontSize-title-others);
}

label{
    /*padding-left: 15px;
    padding-bottom: 5px;
    font-family: var(--font-titles);*/
    /*font-size: 0.8em;*/
    /*letter-spacing: var(-spacing);
    text-transform: uppercase;*/
    color: var(--font-light);
    /*text-shadow: 2px 1px 1px black;*/
}

/*Mobile version*/
@media screen and (min-width: 360px) and (max-width:688px){
    h2{
        font-size: calc(var(--fontSize-title-others)*1);
    }

    h3, p, figcaption, label, input, textarea{
        font-size: calc(var(--fontSize-title-others)*0.8);
    }
}

