footer {
    background-color: var(--background-red);
    width: 100%;
    

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


.footLinkWork{


}
.footLinkWork img,.footAscend img {
    height: 80px;
    width: 80px;
margin: 24px;

}
.footLinkWork  a, .footAscend a{


}
