:root{
    --imgHeight: 150px;
    --spacing16px: 16px;
    --spacing8px: 8px;
    --borderRadius: 8px;
    --CardsbarckgroundImage: url("../../public/images/experience/caisse_sans.png");
    --cubeWidthHeight: 355px;
}


.experience{
    background-color: var(--background-light);
    padding: var(--spacing);
}



.experience h2 {
    font-family: var(--font-titles);
    color: var(--font-medium);
    font-size: var(--fontSize-title-others);
    letter-spacing: var(--spacing-letters-titles);
}



.experience .intro-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
}

.experience .intro-paragraph {
    width: 40%;
}
/**********************************************/


.card-container{
    height: 100%;

    display:flex;
    justify-content: space-around;
   align-items: stretch;
    flex-wrap: wrap;
}



.experience img{
    margin: var(--spacing16px);
    height: var(--imgHeight);
   
    margin: 16px;
    margin-top: 0;
    object-fit: contain;
 }




.experience  .card:hover .textCard{
    display:inline;
}

.experience .card:hover img{
   height: 100px;    
}

.experience .card:hover h3{
  
    font-size: calc(var(--fontSize-title-others)*0.7);
}


@media screen and (min-width: 200px) and (max-width: 667px) {
   

}

