:root{
    --imgHeight: 130px;
    --spacing16px: 16px;
    --borderRadius: 8px;
    --CardsbarckgroundImage: 'url("../../public/images/experience/caisse_sans_?.png")';
}




.experience{
    background-color: var(--background-light);
    padding: var(--spacing);
}

.experience h4, .experience p{
    font-family:var(--font-others);
    width: 100%;
    color: var(--font-medium);
    padding: var( --spacing16px) ;

}

.experience h2 {
    font-family: var(--font-titles);
    color: var(--font-medium);
    font-size: var(--fontSize-title-others);
    letter-spacing: var(--spacing-letters-titles);
}

.experience h3{
    font-family: var(--font-titles);
    color: var(--font-medium);
    letter-spacing: var(--spacing-letters-titles);
    padding: var( --spacing16px);
}

.experience .intro-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
}

.experience .intro-paragraph {
    width: 40%;
}
/**********************************************/


.experience .card-container{
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}

.experience .card {
    /*background-color: var(--background-yellow);*/
    background-image: url("../../public/images/experience/caisse_sans_?.png");
    width: 30%;
    border-radius: var(--borderRadius);
    padding: 16px;
    margin: 8px;
    display:flex;
    flex-direction: column;
    justify-content: center;

    
}

.experience .card-content{
    
    text-align: center;
}

.experience img{
    
    
        margin: var(--spacing16px);
        height: var(--imgHeight);
        object-fit: contain;
      

}


@media screen and (min-width: 200px) and (max-width: 667px) {
    .experience .card {
      width: 100%;
    }
    .experience .card > p{
        display:none;
    }

    .experience .intro-paragraph{
        display:none;
    }

    .experience .card > img{
        min-width:125px;
    }
}

@media screen and (min-width: 667px) and (orientation: landscape) {
    .experience .card{
        width: 20%;
    }
}

