:root{
    --imgHeight: 150px;
    --spacing16px: 16px;
    --spacing8px: 8px;
    --borderRadius: 8px;
    --CardsbarckgroundImage: url("../../public/images/experience/caisse_sans.png");
    --cubeWidthHeight: 355px;
}


.experience{
    background-color: var(--background-light);
    padding: var(--spacing);
}

.experience h4, .experience p{
    font-family:var(--font-others);
    width: 100%;
    color: var(--font-medium);
    padding: var( --spacing16px) ;
    font-weight: bolder;

}

.experience h2 {
    font-family: var(--font-titles);
    color: var(--font-medium);
    font-size: var(--fontSize-title-others);
    letter-spacing: var(--spacing-letters-titles);
}

.experience h3{
    font-family: var(--font-titles);
    color: var(--font-medium);
    letter-spacing: var(--spacing-letters-titles);
    
   /* padding: var( --spacing8px);*/
}

.experience .intro-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
}

.experience .intro-paragraph {
    width: 40%;
}
/**********************************************/


.card-container{
    height: 100%;

    display:flex;
    justify-content: space-around;
   align-items: stretch;
    flex-wrap: wrap;
}

.card {
    /*background-color: var(--background-yellow);*/
    background-image: var(--CardsbarckgroundImage);
    background-size:100%;
    background-repeat: no-repeat;

   width: var(--cubeWidthHeight);
   height: var(--cubeWidthHeight);

    
    margin: 16px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
    position:relative;
}

.imgTitre{
    text-align: center;  

    
}

.experience img{
    margin: var(--spacing16px);
    height: var(--imgHeight);
   
   
    object-fit: contain;
 }

.textCard{
display:none;
text-align: center;
width: 100%;
}


.experience  .card:hover .textCard{
    display:inline;
}

.experience .card:hover img{
   height: 100px;    
}



@media screen and (min-width: 200px) and (max-width: 667px) {
   

}

