footer {
    background-color: var(--background-red);
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    background-image: url("../../public/images/footer/mario-background.jpg");
    background-size: contain;

    --cube-spacing: 52px;
    --cube-bottom: 40%;
    --cube-starting: 65%;
    --cube-z-index: 0;
    --logo-sapcing: 52px;
    --logo-starting: calc((var(--cube-starting) + 10.5px) + var(--logo-sapcing));
    --logo-bottom: calc(var(--cube-bottom) + 13%);
}

body{
    overflow-x: hidden;
}

footer h2{
    color: var(--font-light);
    margin-top: 5%;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-end{
    display: flex;
    flex-direction: column;
}

.contact .body-form{
    display: flex;
    flex-direction: column;
    margin-left: calc(var(--spacing)*6);
    min-width: 400px;
}

.contact .body-form > textarea{
    min-width: 400px;
    min-height: 100px;
}

.contact .body-form input,  .body-form textarea{
    margin-bottom: var(--spacing);
    padding: calc(var(--spacing) + 2px);
    background-color: var(--background-light);
    border-radius: 20px;
}

.return{
    transform: scaleX(-1);
}

.inverse{
    transform: scaleY(-1);
}

.block-relative{
    position: relative;
}

.block-absolute{
    position: absolute;
    bottom: 0;
}

/* animation footer */

.piece{
    top: 40%;
    left: 10.6%;
    width: 60px;
    animation: pieceRotate 2s infinite;
}

.decor{
    width: 100%;
    height: 100%;
}

.cube{
    width: 60px;
    height: 60px;
    z-index: 10;
}

.c1{
    left: var(--cube-starting);
    bottom: var(--cube-bottom);
}

.c2{
    left: calc(var(--cube-starting) + var(--cube-spacing));
    bottom: var(--cube-bottom);
}

.c3{
    left: calc(var(--cube-starting) + (var(--cube-spacing)*2));
    bottom: var(--cube-bottom);
}

.c4{
    left: calc(var(--cube-starting) + (var(--cube-spacing)*3));
    bottom: var(--cube-bottom);
}

.c5{
    left: calc(var(--cube-starting) + (var(--cube-spacing)*4));
    bottom: var(--cube-bottom);
}

.c6{
    left: calc(var(--cube-starting) + (var(--cube-spacing)*5));
    bottom: var(--cube-bottom);
}

.logo{
    width: 40px;
    height: 40px;
    z-index: 10;
    animation: pieceRotate 5s infinite;
}

.logo:hover{
    animation: bond 0.1s;
}

.l1{
    left: var(--logo-starting);
    bottom: var(--logo-bottom);
}

.l2{
    left: calc(var(--logo-starting) + var(--logo-sapcing));
    bottom: var(--logo-bottom);
}

.l3{
    left: calc(var(--logo-starting) + var(--logo-sapcing) *2 );
    bottom: var(--logo-bottom);
}

.l4{
    left: calc(var(--logo-starting) + var(--logo-sapcing) *3 );
    bottom: var(--logo-bottom);
}

.koopa{
    height: 80px;
    bottom: 9.5%;
    left: 35%
}

.tuyau{
    width: 80px;
}

.t1{
    bottom: 0;
    left: 10%;
}

.t1-1{
    top: 0;
    left: 30%;
    z-index: 10;
}

.t1-2{
    left: 30.5%;
    top: 16%;
    width: 60px;
    animation: carnivore 1.5s alternate-reverse infinite;
}

.t2{
    top: 0%;
    left: calc(var(--cube-starting) + (var(--cube-spacing)*2.2));
}

.contact-form{
    top: 3%;
    position: absolute;
    z-index: 100;
}

.btn-header{
    position: absolute;
    width: 50px;
    top: 20%;
    left: calc(var(--cube-starting) + (var(--cube-spacing)* 2.5));
    z-index: 10;
    animation: heart 0.5s infinite alternate;
}

.obus{
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 25%;
    left: -30vmin;
    animation: leftToRight 8s infinite;
    z-index: 90;
}

.mario-stage-end{
    height: 90%;
    right: 1%;
    bottom: 8%;
    z-index: 100;
}

@keyframes leftToRight{
    100%{
        left: 100%;
        display: none; 
    }
}

@keyframes bond {
    50%{
        bottom: calc(var(--logo-bottom) + 2%);
    }
    100%{
        bottom: var(--logo-bottom);
    }
}

@keyframes carnivore {
    100%{
        top: 0%;
    }
}

@keyframes pieceRotate{
    100%{
        transform: rotateY(360deg);
    }
}

@keyframes heart{
	100% { 
        transform: scale(1.2); 
    }
}

@media screen and (max-width: 660px){
    .contact .form-all{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact .form-all a{
        display: none;
    }

    .contact h1{
        margin-bottom: var(--spacing);
    }

    .contact .body-form{
        margin-left: 0;
        min-width: 0;
    }

    .contact .body-form > textarea{
        min-width: 0px;
        min-height: 0px;
    }

}
