.header{
    width: 100%;
    height: 100px;
    background-color: var(--background-red);
}

.navHeader, .navBurger{
    display: flex;
    justify-content:space-around;
    background-color: var(--background-red);
    align-items: center;
    width: 100%;
    height: 100px;
}

.navHeader > a{
    text-decoration:none; 
    border: var(--borderSolid);  
    color: var( --font-light);
    font-family: var(--font-titles) ;
    font-size:1.3em;
    padding: 10px;
    border-radius: 10px;
}

.navHeader > a:hover{
    text-decoration:none;   
    color: var( --font-medium);
    font-family: var(--font-titles) ;
    background-color: var(--background-light);
}

.navBurger{
    display: none;
}

/*--------------------------------    section Présentation    ------------------------------*/
.presentation{
    background-color: var(--background-red); 
    border-radius: 0  0 30px 30px ;
    text-align: center;
    display:flex;
    padding: 0 0 0 40px;
    justify-content: space-around;
    align-items:flex-end;
}

.BoxImgMarioHalf{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin-left: var(--spacing);
}

.ImgMarioHalf{
    width: 400px;
    bottom: 0;
    margin: auto;
}

@media screen and (max-width: 1230px) and (min-width: 640px){
    .header{
        width: 100%;
        background-color: var(--background-red);
    }
    .navHeader{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: auto;
    }

    .navHeader a{
        text-decoration:none; 
        text-align: center;
        width: 80%;
        margin: 10px;
        padding: 16px;
        border-radius: 10px;
    }
    

/*------------------------------------------------------*/
    
    .presentation{
        padding: 40px;
        display: flex;
        flex-direction:column-reverse;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
        
    /*.boxTextPresentation{
        width: 90%;
    }*/
    
    .BoxImgMarioHalf{
        width: 100%;
    }
    
    
    .ImgMarioHalf{
        width: 100%;
    }
}


@media screen and (min-width: 360px) and (max-width: 640px){

    .BoxImgMarioHalf h1{
        font-size: calc(var(--fontSize-title) - 4em);
        color: var( --font-light);
    }

    .header{
        width: 100%;
        background-color: var(--background-red);
    }

    /*.navHeader{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: var(--background-red);
        align-items: center;
        width: 100%;
        height: auto;
    }

    .navHeader a{
        text-decoration:none; 
        border: var(--borderSolid); 
        text-align: center;
        width: 80%;
        margin: 10px;
        padding: 16px;
        border-radius: 10px;
    }*/

    .navHeader{
        display: none;
    }
    
    .navBurger{
        display:block;
        background-color: var(--background-red);
        text-align: center;
        width: 100%;
        min-width: 256px;
        height: 100%;
    }

    /*add hover effect: down pointed arrow indicating menu is going to drop down)*/

    #wrap:not(:target){
        transform: translated3d(-335px, 0, 0);
    }

    .navBurger:hover .icon {
        opacity: 0.75;
        transition: 0.5s;

    }


    
/*------------------------------------------------------*/
    .presentation{
        padding-top: 40px;
        display: flex;
        flex-direction:column-reverse;
        justify-content: center;
        text-align: center;
    }

    .boxTextPresentation{
        display:none;
    }

    .boxTextPresentation{
        width: 90%;
    }

    .BoxImgMarioHalf{
        width: 100%;
    }
    
    
    .ImgMarioHalf{
        width: 100%;
    }

}