/*Section 5:Hobbies (Nicolas)*/
.hobbies {
  font-family: "Roboto Condensed";
}

.hobbies h2 {
  color: var(--font-medium);
  font-family: "mario";
  font-size: var(--fontSize-title-others);
  letter-spacing: var(--spacing-letters-titles);
}



.hobbies img {
  margin: var(--spacing8px);
height: var(--imgHeight);
  width: 300px;
  height: 200px;
  object-fit: contain;;
}

