:root{
    /*Variables: font colors*/
    --font-light: rgba(230,229,238,255);
    --font-medium: rgba(0,41,152,255);
    --font-dark: rgba(21,7,3,255);

    /*Variables: background colors*/
    --background-red: rgba(255,0,0,255);
    --background-yellow: rgba(228,163,0,255);
    --background-light: rgba(230,229,238,255);

    /*Variables: font style*/



}


*{
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header{
    height: 300px;
    width: 100vw;
    background-color: var(--red);
}

/* Section 2: Work Experience (Emma)*/

.test1{
    color: var(--font-light);
    background-color:var(--background-red);
}

.test2{
    color: var(--font-medium);
    background-color:var(--background-light);
}

.test3{
    color: var(--font-dark);
    background-color:var(--font-background-light);
}



