@import "header.css";
@import "experience.css";
@import "skills.css";
@import "langages.css";
@import 'hobbies.css';
@import 'contact.css';
@import 'footer.css';

@font-face{
    font-family: "mario";
    src: url("../../public/fonts/SuperMarioBrothers-4nmp.ttf");
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

:root{
    /*Variables: font colors*/
    --font-light: rgba(230,229,238,255);
    --font-medium: rgba(0,41,152,255);
    --font-dark: rgba(21,7,3,255);

    /*Variables: background colors*/
    --background-red: rgba(255,0,0,255);
    --background-yellow: rgba(228,163,0,255);
    --background-light: rgba(230,229,238,255);

    /*Variables: font style*/
    --font-titles: "mario";
    --font-others: 'Roboto Condensed';
    --fontSize-title: 8em;
    --fontSize-title-others: calc(var(--fontSize-title) - 6em);
    
    --spacing-letters-titles: 0.3em;
    /*--fontSize-title: 6em;
    --fontSize-title-others: calc(var(--fontSize-title) - 0.2em);*/
    
    /*spacing*/
    --spacing: 8px;
    --borderSolid: solid 3px;
}

*{
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 0 var(--spacing);
    background-color: var(--background-light);
}

h1{
    font-family: var(--font-titles) ;
    font-size: calc(var(--fontSize-title) - 2em);
    color: var( --font-light);
    letter-spacing:var(--spacing-letters-titles);
}

